<th:block>
    <div class="container justify-content-center col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 class="text text-center text-danger">My Orders</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="order,iter : ${orderViewModels}">
                            <tr>
                                <th scope="row" th:text="${iter.index + 1}"></th>
                                <td th:text="${#temporals.format(order.finishDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td th:text="${order.user.email}"></td>
                                <td th:text="${order.address.municipality} + ', ' + ${order.address.street} + ' ' + ${order.address.number}"></td>
                                <td th:text="${order.description}"></td>
                                <td th:text="${order.totalPrice} + '$'"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</th:block>