<th:block>
    <div class="container justify-content-center col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 class="text text-center text-danger" id="pane-header">Order</h1>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="addressRadio" value="address" name="selection">
                            <h5>
                                <label class="form-check-label" for="addressRadio">Address</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="pizzaRadio" value="pizza" name="selection">
                            <h5>
                                <label class="form-check-label" for="pizzaRadio">Pizza</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="pastaRadio" value="pasta" name="selection">
                            <h5>
                                <label class="form-check-label" for="pastaRadio">Pasta</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="dipsRadio" value="dips" name="selection">
                            <h5>
                                <label class="form-check-label" for="dipsRadio">Dips</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="drinksRadio" value="drinks" name="selection">
                            <h5>
                                <label class="form-check-label" for="drinksRadio">Drinks</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="orderRadio" value="order" name="selection">
                            <h5>
                                <label class="form-check-label" for="orderRadio">Order</label>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-3" id="order">

                </div>
            </div>
        </div>
    </div>

    <script src="/js/load-order-pane.js"></script>
</th:block>