<th:block>
    <div class="container justify-content-center col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 class="text text-center text-danger">My Addresses</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <button id="toggle-add-address-pane" class="btn btn-success">Add address</button>
                </div>

                <div class="row d-flex justify-content-center" >
                    <form id="address-form" th:action="@{/address/add}" th:method="post" hidden>
                        <h1>TESTESTESTE</h1>
                    </form>

                </div>
                <div class="row d-flex justify-content-center">
                    <div id="map" style="height: 400px; width: 600px"></div>
                </div>

            </div>
        </div>
    </div>
    <script>
        let toggleAddAddress = $('#toggle-add-address-pane');

        toggleAddAddress.click(function () {
            $('#address-form').prop('hidden', false);

        });
    </script>
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 42.698334,
                    lng: 23.319941
                },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDKVpum6wRHuJxo-5stGPSTS55_3MUGJgc&callback=initMap" async defer></script>
</th:block>