<th:block>
    <div class="jumbotron bg-forms col-md-11 mx-5 text text-center">
        <h1 class="text text-center">All Profiles</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Full Name</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="profile,iter : ${profiles}">
                <tr>
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="${profile.email}"></td>
                    <td th:text="${profile.fullName}"></td>
                    <td><a th:href="@{/profiles/{id}(id=${profile.id})}">Details</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</th:block>