<th:block>
    <div class="modal-header text text-center">
        <h1 class="modal-title" id="doughsModalLabel">Add Dough</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr class="hr" />
    <form th:action="@{/pizza/doughs/add}" method="post">
        <div class="form-row d-flex justify-content-center">
            <label for="dough-name">Name
                <input class="form-control" id="dough-name" type="text" name="name" placeholder="Name..." required>
            </label>
        </div>
        <hr class="hr" />
        <div class="form-row my-5 d-flex justify-content-center">
            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-success mr-2">Add Dough</button>
                <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</th:block>