<th:block>
    <div class="modal-header text text-center">
        <h1 class="modal-title" id="saucesModalLabel">Add Sauce</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr class="hr" />
    <form th:action="@{/pizza/sauces/add}" method="post">
        <div class="form-row">
            <div class="col">
                <label for="sauce-name">Name
                    <input class="form-control" id="sauce-name" type="text" name="name" placeholder="Name..." required>
                </label>
            </div>
        </div>
        <hr class="hr" />
        <div class="form-row my-5">
            <div class="col">
                <button type="submit" class="btn btn-success">Add Sauce</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</th:block>