<th:block>
    <div class="container justify-content-center col-md-11 my-4">
        <div class="jumbotron bg-jumbotron d-flex justify-content-center">
            <div class="container">
                <div class="row m-3 p-0 d-flex justify-content-center">
                    <div class="col col-md-3 d-flex justify-content-center mb-4">
                        <div class="card bg-forms text-center">
                            <img class="card-img-top" src="https://res.cloudinary.com/rado-cloud/image/upload/v1534748228/sizes-image.jpg" alt="Card image cap">
                            <div class="card-header d-flex justify-content-center">
                                <h3 class="text-danger">Sizes</h3>
                            </div>
                            <div class="card-footer  d-flex justify-content-center">

                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sizesModal">
                                    Add Size
                                </button>
                                <div class="modal fade" id="sizesModal" tabindex="-1" role="dialog" aria-labelledby="sizesModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center bg-forms">

                                            <th:block th:include="~{ingredients/add-size-form}"></th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3 d-flex justify-content-center mb-4">
                        <div class="card bg-forms text-center">
                            <img class="card-img-top" src="https://res.cloudinary.com/rado-cloud/image/upload/v1534748306/doughs-image.jpg" alt="Card image cap" >
                            <div class="card-header d-flex justify-content-center">
                                <h3 class="text-danger">Doughs</h3>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#doughsModal">
                                    Add Dough
                                </button>
                                <div class="modal fade" id="doughsModal" tabindex="-1" role="dialog" aria-labelledby="doughsModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center bg-forms">

                                            <th:block th:include="~{ingredients/add-dough-form}"></th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3 d-flex justify-content-center mb-4">
                        <div class="card bg-forms text-center">
                            <img class="card-img-top" src="https://res.cloudinary.com/rado-cloud/image/upload/v1534748506/sauces-image.jpg" alt="Card image cap">
                            <div class="card-header d-flex justify-content-center">
                                <h3 class="text-danger">Sauces</h3>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#saucesModal">
                                    Add Sauce
                                </button>
                                <div class="modal fade" id="saucesModal" tabindex="-1" role="dialog" aria-labelledby="saucesModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center bg-forms">

                                            <th:block th:include="~{ingredients/add-sauce-form}"></th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3 d-flex justify-content-center mb-4">
                        <div class="card bg-forms text-center">
                            <img class="card-img-top" src="https://res.cloudinary.com/rado-cloud/image/upload/v1534748729/spices-image.jpg" alt="Card image cap">
                            <div class="card-header d-flex justify-content-center">
                                <h3 class="text-danger">Spices</h3>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#spicesModal">
                                    Add Spice
                                </button>
                                <div class="modal fade" id="spicesModal" tabindex="-1" role="dialog" aria-labelledby="spicesModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center bg-forms">

                                            <th:block th:include="~{ingredients/add-spice-form}"></th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3 d-flex justify-content-center mb-4">
                        <div class="card bg-forms text-center">
                            <img class="card-img-top" src="https://res.cloudinary.com/rado-cloud/image/upload/v1534748869/cheeses-image.jpg" alt="Card image cap">
                            <div class="card-header d-flex justify-content-center">
                                <h3 class="text-danger">Cheeses</h3>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cheesesModal">
                                    Add Cheese
                                </button>
                                <div class="modal fade" id="cheesesModal" tabindex="-1" role="dialog" aria-labelledby="cheesesModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center bg-forms">

                                            <th:block th:include="~{ingredients/add-cheese-form}"></th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3 d-flex justify-content-center mb-4">
                        <div class="card bg-forms text-center">
                            <img class="card-img-top" src="https://res.cloudinary.com/rado-cloud/image/upload/v1534749037/meats-image.jpg" alt="Card image cap">
                            <div class="card-header d-flex justify-content-center">
                                <h3 class="text-danger">Meats</h3>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#meatsModal">
                                    Add Meat
                                </button>
                                <div class="modal fade" id="meatsModal" tabindex="-1" role="dialog" aria-labelledby="meatsModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center bg-forms">

                                            <th:block th:include="~{ingredients/add-meat-form}"></th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3 d-flex justify-content-center mb-4">
                        <div class="card bg-forms text-center">
                            <img class="card-img-top" src="https://res.cloudinary.com/rado-cloud/image/upload/v1534749327/vegetables-image.jpg" alt="Card image cap">
                            <div class="card-header d-flex justify-content-center">
                                <h3 class="text-danger">Vegetables</h3>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#vegetablesModal">
                                    Add Vegetable
                                </button>
                                <div class="modal fade" id="vegetablesModal" tabindex="-1" role="dialog" aria-labelledby="vegetablesModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center bg-forms">

                                            <th:block th:include="~{ingredients/add-vegetable-form}"></th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>