.pizza-png {
    width: 40px;
    height: 40px;
}

.pizza-bg-img {

}

.bg-red-candy-apple {
    background-color: #FF0800;

}

.bg-body {
    background: url(https://gdurl.com/qlHM) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.bg-jumbotron {
    background: url(https://gdurl.com/R7Dl);
    background-color: wheat;
}

.special-offer {
    background: url("https://gdurl.com/mNk9");
}