<th:block>
    <div class="modal-header text text-center">
        <h1 class="modal-title" id="pastaModalLabel">Add Pasta</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr class="hr" />
    <form th:action="@{/menu/pasta/add}" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col">
                <label for="pasta-name">Name
                    <input class="form-control" id="pasta-name" type="text" name="name" placeholder="Name..." required>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="pasta-price">Price
                    <input class="form-control" id="pasta-price" type="number" step="any" name="price" placeholder="Price..." required>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="pasta-description">Description
                    <textarea class="form-control " id="pasta-description" type="text" name="description" ></textarea>
                </label>
            </div>
        </div>
        <hr class="hr" />
        <div class="form-row">
            <div class="col">
                <label for="pasta-image">Pasta Image</label>
                <input type="file" class="form-control-file" id="pasta-image" name="pastaImage">
            </div>
        </div>
        <hr class="hr" />
        <div class="form-row my-5">
            <div class="col">
                <button type="submit" class="btn btn-success">Add Pasta</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</th:block>